<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dynamic Resizing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dynamic Resizing</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size='12' size-sm='6' size-xl='3'>
        <ion-input type='text' color='primary'></ion-input>
      </ion-col>
      <ion-col size='12' size-sm='6' size-xl='3'>
        <ion-button>Submit</ion-button>
      </ion-col>
      <ion-col size='12' size-sm='6' size-xl='3'>
        <ion-input type='text' color='primary'></ion-input>
      </ion-col>
      <ion-col size='12' size-sm='6' size-xl='3'>
        <ion-button>Submit</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        {{variable}}
        <ion-button (click)="add()">Add {{value}}</ion-button>
        <ion-button (click)="subtract()">Subtract {{value}}</ion-button>
        <ion-input type='number' [(ngModel)]='value'></ion-input>
        <ion-text *ngFor="let num of array" style="{{getIsNegative(num) ? 'color:red;' : 'color:green;'}}">{{num}}, </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
